<h1>List of Principals</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Education</th>
      <th scope="col">Specialization</th>
      <th scope="col">Gender</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @principals.each do |principal| %>
        <tr>
          <td><%= principal.id %></td>
          <td><%= principal.name %></td>
          <td><%= principal.education %></td>
          <td><%= principal.specialization %></td>
          <td><%= principal.gender %></td>
          <td><%= principal.phone %></td>
          <td><%= link_to 'Show', principal_path(principal) %></td>
          <td><%= link_to 'New', new_principal_path %></td>
          <td><%= link_to 'Edit', edit_principal_path(principal) %></td>
          <td><%= link_to 'Destroy', principal_path(principal),method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
  </tbody>
</table>
