<h1>List of teachers</h1>
<table>
  <tr>
    <th>Name</th>
    <th>subject</th>
    <th>speecialization</th>
    <th>Phone</th>
    <th>education</th>
    <th>gender</th>
    <th></th>
  </tr>
  <% @teachers.each do |teacher| %>
    <tr>
      <td><%= teacher.name %></td>
      <td><%= teacher.subject %></td>
      <td><%= teacher.speecialization %></td>
      <td><%= teacher.phone %></td>
      <td><%= teacher.education %></td>
      <td><%= teacher.gender %></td>
      <td><%= link_to 'Show', teacher_path(teacher) %></td>
      <td><%= link_to 'New', new_teacher_path %></td>
      <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
      <td><%= link_to 'Destroy', teacher_path(teacher),method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
