<%= form_with(model: @school, local: true) do |form| %>
<% if @school.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@school.errors.count, "error") %> prohibited
      this school from being saved:
    </h2>
    <ul>
      <% @school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :Recognized %><br>
    <%= form.text_field :recognized %>
  </p>
  <p>
    <%= form.label :Address %><br>
    <%= form.text_field :address %>
  </p>
  <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </p>
  <p>
    <%= form.label :principal_id %><br>
    <%= form.text_field :principal_id  %>
  </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>
