<h1>List of schools</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Recognized</th>
    <th>Address</th>
    <th>Phone</th>
    <th>principal_name</th>
    <th></th>
  </tr>
  <% @schools.each do |school| %>
    <tr>
      <td><%= school.name %></td>
      <td><%= school.recognized %></td>
      <td><%= school.address %></td>
      <td><%= school.phone %></td>
      <td><%= school.principal.name %></td>
      <td><%= link_to 'Show', school_path(school) %></td>
      <td><%= link_to 'New', new_school_path %></td>
      <td><%= link_to 'Edit', edit_school_path(school) %></td>
      <td><%= link_to 'Destroy', school_path(school),method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
